* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


body {
    font-family: system-ui;
    color: #555;
    background-color: #34a777;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    padding: 4% 0%;
    text-align: center;
    font-size: 45px;
    color: #fff;
    text-shadow: 1px 3px #565656;
}

h2 {
    padding: 2% 0%;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 3px #565656;
}

h3 {
    font-size: 26px;
    color: #fff;
    text-shadow: 1px 3px #565656;
    padding-top: 3%;
    padding-bottom: 1%;
}

p {
    color: #000;
    font-size: 20px;
    background: #fff;
    padding: 4%;
    box-shadow: 0px 0px 30px 2px #6e6b6b;
    margin: 3%;
}

img {
    margin-left: 3%;
    margin-bottom: 2%;
}

form {
    text-align: center;
    box-shadow: 0px 0px 30px 2px #6e6b6b;
    margin: 3%;
    padding: 4%;
    background: #8d5147;
}

input,
button {
    padding: 20px 50px;
    cursor: pointer;
}

label {
    color: #fff;
    font-size: 18px;
    padding-left: 15px;
}

a {
    color: #fff;
    font-size: 22px;
    display: block;
    padding: 8px 15px;
}

a.active {
    color: #3300ff;
}

.btn-align {
    text-align: center;
}

#span1 {
    display: none;
}